<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">

	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
	<div class="container">
	<div class=title>
		<img src="{{placeToShow.imageURL}}" alt="{{placeToShow.name}}" class="img-responsive">
		<h2>{{placeToShow.name}}</h2>
	</div>
	<div class="info">
		<br>
		<h3>{{placeToShow.mood}}</h3>
		<h3>{{placeToShow.task}}</h3>
		{{#each placeToShow.info}}
			<h5>{{this}}</h5>
		{{/each}}
		<br>
		<h4>Reviews</h4>
		<p>{{placeToShow.description}}</p>
		<div>
			<h4>Directions</h4>
			<img src="../images/2.jpg" alt="map" class="img">
		</div>
		
		<br>
		<a href="./map.html">Go</a> &nbsp;&nbsp;
		<a href="./share.html">Share</a> &nbsp;&nbsp;
		<a href="./favorites.html">Favorite</a> &nbsp;&nbsp;

	</div>

	<div class="">
	    <a href="../place_back">Back</a>

	
	</div>
	<div class="icon-bar">
	  <a class="active" href="../home"><i class="fa fa-home"></i></a> 
	  <a href="../search"><i class="fa fa-search"></i></a>  
	  <a href="../favorites"><i class="fa fa-heart"></i></a>
	  <a href="../profile"><i class="fa fa-user"></i></a> 
	</div>

</body>
</html>