<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
	


</head>
<body>
	<div class="container">
		<div class=title>
			<img src="{{placeToShow.imageURL}}" alt="{{placeToShow.name}}" class="img-responsive">
			<h2>{{placeToShow.name}}</h2>
		</div>

		{{#if placeToShow.logged}}
			<div class="placeoptions">
			<a href="../share"><button type="button">Share</button></a>
			<button id= "unfa" type="button">Favorite</button>
			<a href="../navigation" onclick="ga('create', 'UA-114618844-1','auto');if (window.performance) {
  																// Gets the number of milliseconds since page load
  																// (and rounds the result since the value must be an integer).
  																var timeSincePageLoad = Math.round(performance.now());

  																// Sends the timing hit to Google Analytics.
  									ga('send', 'timing', 'timeDiff', 'PlacePage', timeSincePageLoad);}"><button type="button">Go</button></a>
			</div>
		{{else}}
		<div class="placeoptions">	
			<a href="../login"><button type="button">Share</button></a>
			<button id= "unfa" type="button">Favorite</button>
			<a href="../navigationNL"><button type="button">Go</button></a>
		</div>
		{{/if}}



		<div id="scroll"></div>
		<div class="info">
			<p style="text-align: center;" class="placemood">Suitable Mood: {{placeToShow.mood}}</p>
			<p style="text-align: center;" class="placetask">Suitable Task: {{placeToShow.task}}</p>
			<br>
			{{#each placeToShow.info}}
				<h5>{{this}}</h5>
			{{/each}}
			<br>
			<h4 style="text-align: center;">Reviews</h4>
			<p>{{placeToShow.description}}</p>
		</div>
			


		<div>
		   <input type="button" value="Back" onclick="history.back();ga('create', 'UA-114618844-1','auto');ga('send', 'event', 'Back', 'click')">
		   <br><br><br>
		</div>

	</div>

	{{#if placeToShow.logged}}
		<div class="icon-bar">
		  	<a href="../home"><i class="fa fa-home"></i></a> 
		  	<a href="../search"><i class="fa fa-search"></i></a>  
			<a href="../favorites"><i class="fa fa-heart"></i></a>
			<a href="../profile"><i class="fa fa-user"></i></a> 
		</div>
	{{else}}
		<div class="icon-bar">
		  <a href="../"><i class="fa fa-home"></i></a> 
		  <a href="../searchNL"><i class="fa fa-search"></i></a>  
		  <a href="../login"><i class="fa fa-heart"></i></a>
		  <a href="../login"><i class="fa fa-user"></i></a> 
		</div>
	{{/if}}
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115102424-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115102424-1');
</script>

</body>
</html>