<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114577710-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-114577710-2');
	</script>
	
</head>
<body>
	<div class="container">
		<h2 >Results</h2>
		<div class="tip"><i class="fa fa-question-circle"></i>
	  		<span class="tiptext">Here are some recommendations for you! Select No to see another option, select Yes to open navigation or select View to see more details :)

	  			You can tap/drag the bubbles to select the one correspond with your current state
	  		</span>
	  	</div>
		

		{{#if output.Alt}}
			{{#if output.logged}}
		  		{{#each output}}
					<a href="./place/{{placeId}}">
						<div style="background: #f6f6f6; " class="thumbnail">
							<h5>{{name}}</h5>
							<img style="width: 90%;" src="{{imageURL}}" class="img-responsive">
							<div class="info">
								<h5 style="text-align: center;">{{rate}}</h5>
							</div>
						</div>
					</a>
				{{/each}}
			{{else}}
				{{#each output}}
					<a href="./placeNL/{{placeId}}">
						<div class="thumbnail">
							<h5>{{name}}</h5>
							<img src="{{imageURL}}" class="img-responsive">
							<div class="info">
								<h4 style="text-align: center;">{{rate}}</4>
							</div>
						</div>
					</a>
				{{/each}}
			{{/if}}
				

		{{else}}
			<h4>{{output.[0].name}}</h4>
			<img src="{{output.[0].imageURL}}" class="img-responsive">
			<div class="info">
				<h4 style="text-align: center; ">{{output.[0].rate}}</h4>
			</div>
			{{#if output.logged}}
				<div class="search-options">
					<a href="./result_next"><button type="button">No</button></a>
					<a href="./place/{{output.[0].placeId}}"><button type="button">View</button></a>
					<a href="./navigation"><button type="button">Go!</button></a>
				</div>
				<br>
				<input type="button" value="Back" onclick="history.back()">

			{{else}}
				<div style="vertical-align: center;" class="search-options">
					<a href="./resultNL_next"><button type="button">No</button></a>
					<a href="./placeNL/{{output.[0].placeId}}"><button type="button">View</button></a>
					<a href="./navigationNL"><button type="button">Go!</button></a>
				</div>
				<br>
				<input type="button" value="Back" onclick="history.back()">
				

			{{/if}}
		{{/if}}	
		
	</div>

	
		{{#if output.logged}}
				
				<div class="icon-bar">
					<a href="./"><i class="fa fa-home"></i></a> 
					<a href="./search"><i class="fa fa-search"></i></a>  
					<a href="./favorites"><i class="fa fa-heart"></i></a>
					<a href="./profile"><i class="fa fa-user"></i></a> 
				</div>
		{{else}}
				
				<div class="icon-bar">
					<a href="./"><i class="fa fa-home"></i></a> 
					<a href="./searchNL"><i class="fa fa-search"></i></a>  
					<a href="./login"><i class="fa fa-heart"></i></a>
					<a href="./login"><i class="fa fa-user"></i></a> 
				</div>
				
		{{/if}}
		
	
	<!-- <div class="icon-bar">
		<a href="./home"><i class="fa fa-home"></i></a> 
	  	<a href="./search"><i class="fa fa-search"></i></a>  
	  	<a href="./favorites"><i class="fa fa-heart"></i></a>
	  	<a href="./profile"><i class="fa fa-user"></i></a>
	</div>  -->



</body>
</html>