<!DOCTYPE html>
<html>
<head>

<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='170832426-3',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115102424-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115102424-1');
</script>

<script type="text/javascript" src=""></script>


	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



	
</head>
<body>
	<div class="pagetitle">
		<h2>Result</h2>
	</div>
	<div class="container">
		<div class="tip"><i class="fa fa-question-circle"></i>
	  		<span class="tiptext">Here are some recommendations for you! Select No to see another option, select Yes to open navigation or select View to see more details :)

	  			You can tap/drag the bubbles to select the one correspond with your current state
	  		</span>
	  	</div>
		

		{{#if output.Alt}}
			<h4>{{output.[0].name}}</h4>
			<img src="{{output.[0].imageURL}}" class="img-responsive">
			<div style="padding-top: 5%;padding-left: 10%;padding-right: 10%;text-align: left;">
				<h4 style="text-align: center; ">{{output.[0].rate}}</h4>
				<p style="text-align: center; "">{{output.[0].description}}</p>
			</div>
			{{#if output.logged}}
		  		<div class="search-options">

					<a href="./resultAlt_next" class='.nextBtn'><button type="button">More</button></a>

					<a href="./placeNL/{{output.[0].placeId}}" ><button type="button">View</button></a>
					<a href="./navigation"><button id= "GoB" type="button" >Go!</button></a>
				</div>
				<br>
				<input type="button" value="Back" onclick="history.back()">
			{{else}}
				<div class="search-options">

					<a href="./resultAlt_next_not_logged_in" class='.nextBtn'><button type="button">More</button></a>

					<a href="./placeNL/{{output.[0].placeId}}" ><button type="button">View</button></a>
					<a href="./navigationNL"><button id= "GoB" type="button" >Go!</button></a>
				</div>
				<br>
				<input type="button" value="Back" onclick="history.back()">
			{{/if}}
				

		{{else}}
			<h4>{{output.[0].name}}</h4>
			<img src="{{output.[0].imageURL}}" class="img-responsive">
			<div style="padding-top: 5%;padding-left: 10%;padding-right: 10%;text-align: left;">
				<h4 style="text-align: center; ">{{output.[0].rate}}</h4>
				<p style="text-align: center; ">{{output.[0].description}}</p>
			</div>
			{{#if output.logged}}
				<div class="search-options">
					<a href="./result_next" class='.nextBtn'><button type="button">No</button></a>
					<a href="./placeNL/{{output.[0].placeId}}" ><button type="button">View</button></a>
					<a href="./navigation"><button id= "GoB" type="button" >Go!</button></a>
				</div>
				<br>
				<input type="button" value="Back" onclick="history.back()">

			{{else}}
				<div style="vertical-align: center;" class="search-options">
					<a href="./result_next_not_logged_in" class='.nextBtn'><button type="button">No</button></a>
					<a href="./placeNL/{{output.[0].placeId}}" ><button type="button">View</button></a>
					<a href="./navigationNL"><button type="button">Go!</button></a>
				</div>
				<br>
				<input type="button" value="Back" onclick="history.back()">
				

			{{/if}}
		{{/if}}	
		
	</div>

	
		{{#if output.logged}}
				
				<div class="icon-bar">
					<a href="./"><i class="fa fa-home"></i></a> 
					<a href="./search"><i class="fa fa-search"></i></a>  
					<a href="./favorites"><i class="fa fa-heart"></i></a>
					<a href="./profile"><i class="fa fa-user"></i></a> 
				</div>
		{{else}}
				
				<div class="icon-bar">
					<a href="./"><i class="fa fa-home"></i></a> 
					<a href="./searchNL"><i class="fa fa-search"></i></a>  
					<a href="./login"><i class="fa fa-heart"></i></a>
					<a href="./login"><i class="fa fa-user"></i></a> 
				</div>
				
		{{/if}}
		
	
	<!-- <div class="icon-bar">
		<a href="./home"><i class="fa fa-home"></i></a> 
	  	<a href="./search"><i class="fa fa-search"></i></a>  
	  	<a href="./favorites"><i class="fa fa-heart"></i></a>
	  	<a href="./profile"><i class="fa fa-user"></i></a>
	</div>  -->


</body>
</html>