<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>
	<div class="pagetitle">
		<h2>Result</h2>
	</div>
	<div class="container">
		<br>
		{{#if output.logged}}
	  		{{#each output}}
				<a href="./place/{{placeId}}">
					<div class="thumbnail">
						<h5>{{name}}</h5>
						<img src="{{imageURL}}" class="img-responsive">
						<p>{{description}}</p>
					</div>
				</a>
			{{/each}}
		{{else}}
			{{#each output}}
				<a href="./placeNL/{{placeId}}">
					<div class="thumbnail">
						<h5>{{name}}</h5>
						<img src="{{imageURL}}" class="img-responsive">
						<p>{{description}}</p>
					</div>
				</a>
			{{/each}}
		{{/if}}
		
	
	<div class="search-options">
		<input type="button" value="Back" onclick="history.back()">
	</div>

	</div>

	{{#if logged}}

		<div class="icon-bar">
	  		<a href="./home"><i class="fa fa-home"></i></a> 
			<a href="./search"><i class="fa fa-search"></i></a>  
			<a href="./favorites"><i class="fa fa-heart"></i></a>
			<a href="./profile"><i class="fa fa-user"></i></a> 
		</div>
	{{else}}
		<div class="icon-bar">
		  <a href="./"><i class="fa fa-home"></i></a> 
		  <a href="./searchNL"><i class="fa fa-search"></i></a>  
		  <a href="./login"><i class="fa fa-heart"></i></a>
		  <a href="./login"><i class="fa fa-user"></i></a> 
		</div>
	{{/if}}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115102424-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115102424-1');
</script>




</body>
</html>